.idea
Steckpläne
Datenschutz und Datensicherheit.docx
Datenschutz und Datensicherheit.pdf
Investor Handout PitHub.docx
ProjectRoadMap.docx
Distanzmessungen
ProjectRoadMapbearbeitet.pdf
ProjectRoadMap.pdf
ProjectRoadMapFinal.pdf
Pi Configuartion.txt